body {
	background-color: grey;
	text-align: center;
}

#intro {
	font-size: 30px;
	text-align: center;
	border-bottom: 2px solid white;
}

span.correct {
	color: lime;
	font-weight: bold;
}

span.incorrect {
	color: red;
	font-weight: bold;
}
